<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd"
	default-init-method="defaultInitMethod">

	<!-- properties namespace -->
	<bean id="basicPlayer" class="br.com.abevieiramota.spring.model.BasicPlayer"
		scope="prototype" p:message="Bem basicão" p:monster-ref="basicMonster">
		<!-- constructor injection -->
		<constructor-arg value="Basic Player" />
		<property name="mapParaTestarMap">
			<map>
				<entry key="nome" value="Abelardo Vieira Mota" />
			</map>
		</property>
	</bean>

	<bean id="hardcorePlayer" class="br.com.abevieiramota.spring.model.HardcorePlayer"
		scope="prototype">
		<constructor-arg value="Hardcore Player" />
		<constructor-arg ref="hardcoreMonster" />
		<!-- property injection -->
		<property name="message">
			<!-- inner bean -->
			<bean class="java.lang.String">
				<constructor-arg value="Muito hardcore!!!!" />
			</bean>
		</property>
		<property name="skills">
			<list>
				<value>Fireball</value>
				<value>Torrent</value>
			</list>
		</property>
	</bean>

	<!-- factory bean -->
	<!-- scope prototype -->
	<bean id="basicMonster" class="br.com.abevieiramota.spring.model.monster.BasicMonster"
		factory-bean="basicMonsterFactory" factory-method="getInstance" scope="prototype" />

	<!-- init-method, destroy-method -->
	<bean id="basicMonsterFactory"
		class="br.com.abevieiramota.spring.model.monster.RandomBasicMonsterFactory"
		init-method="initFactory" destroy-method="destroyFactory" />

	<bean id="hardcoreMonster"
		class="br.com.abevieiramota.spring.model.monster.HardcoreMonster"
		factory-bean="hardcoreMonsterFactory" factory-method="getInstance"
		scope="prototype" />

	<bean id="hardcoreMonsterFactory"
		class="br.com.abevieiramota.spring.model.monster.RandomHardcoreMonsterFactory" />
</beans>